version: 2.1

orbs:
  gh: circleci/github-cli@2.1.0

jobs:
  install:
    docker:
        - image: cimg/go:1.18
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Install Dependencies
          command: go mod download
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

  lint:
    docker:
      - image: cimg/go:1.18
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Run Linting
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.45.2
            make lint

  test:
    docker:
      - image: cimg/go:1.18
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Run tests
          command: make test

  publish:
    docker:
      - image: cimg/go:1.18
    steps:
      - checkout
      - gh/install
      - run:
          name: Release
          command: |
            VERSION=<< pipeline.git.tag	>>
            gh release create ${VERSION} --title "${VERSION}" --notes "${VERSION}" --target ${CIRCLE_SHA1} --repo ${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}
      - run:
          name: Index
          command: |
            VERSION=<< pipeline.git.tag	>>
            GOPROXY=proxy.golang.org go list -m github.com/clarke94/serverfx@${VERSION}


workflows:
  build-and-publish:
    jobs:
      - install:
          filters:
            tags:
              only: /^v.*/
      - lint:
          requires:
            - install
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - install
          filters:
            tags:
              only: /^v.*/
      - publish:
          requires:
            - test
            - lint
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/